@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: font1;
    src: url("./BebasNeue-Regular.ttf");
}
@font-face{
    font-family: font2;
    src: url("./Poppins-Regular.ttf");
}
::-webkit-scrollbar{
    display: none;
}